In [2]:
def print_hello():
    return "hello world"

In [5]:
c = print_hello()
c.title()

'Hello World'

In [14]:
def greet(user_name):
    return f"Hello {user_name}"

In [15]:
greet("Rahul")

'Hello Rahul'

In [16]:
def full_user_name(first_name, last_name):
    return f"{first_name} {last_name}"

In [18]:
full_user_name( "Beniwal", "Rahul")

'Beniwal Rahul'

In [22]:
full_user_name(last_name="Beniwal", first_name="Rahul")

'Rahul Beniwal'

In [19]:
# default Argument 
def get_age(age=18):
    return age

In [29]:
age = get_age(35)
print(age)

35

In [27]:
def get_name(name):
    print(name)

In [30]:
name = get_name("Rahul")
print(name)

Rahul
None

In [21]:
get_age()

18

In [31]:
get_age = lambda age=18 : age

In [25]:
get_age(age=100)

100

In [32]:
get_age

In [36]:
def show_me_my_age(get_age, age):
    return get_age(age)

In [37]:
show_me_my_age(get_age, 100)

100

In [40]:
def return_tuple(n):
    print(n)
    return 5,6

In [41]:
return_tuple(10)

10

(5, 6)

In [42]:
# Closure -> Todo

In [ ]:
def print_student(*name):
    print(name)

In [ ]:
print_student('A', "B", "C")

('A', 'B', 'C')

In [46]:
#5! = 5 * 4! -> 4 * 3! -> 3! -> 3 * 2! -> 2! -> 2 * 1! -> 1! -> 1 * 0!

In [49]:
def fact(n):
    if n == 0:
        return 1
    else :
        return n * fact(n-1)

In [50]:
fact(5)

120

In [52]:
fact_lambda = lambda n : 1 if n==0 else n * fact_lambda(n-1)

In [53]:
fact_lambda(5)

120

In [14]:
def makeInc(x):
    def inc(y):
        return y + x
    return inc

In [15]:
incOne = makeInc(1)
print(incOne(10))
print(incOne(11))

11
12

In [19]:
x = 10
def print_test():
    global x 
    x+=1
    print(x)
print_test()

11

In [27]:
x = 100
def makeInc(z):
    def inc(y):
        global z
        z+=1
        return y + z
    return inc

In [28]:
incFive = makeInc(5)
incFive(10)

111

In [31]:
def makeInc(a):
    def inc(b):
        nonlocal a
        a+=1
        return a + b
    return inc

In [32]:
incOne = makeInc(1)
print(incOne(10))
print(incOne(11))

12
14

In [33]:
def full_name(first_name, second_name):
    print(f"{first_name} {second_name}")

In [36]:
full_name(second_name = "Beniwal", first_name = "Rahul")

Rahul Beniwal

In [39]:
kargs = {
    "second_name" : "Beniwal",
    "first_name" : "Rahul"
}
full_name(**kargs)

Rahul Beniwal

In [42]:
def print_num(a,b,c):
    print(a,b,c)

print_num(*[1,2,3])

1 2 3

In [43]:
print(*range(1,10))

1 2 3 4 5 6 7 8 9

In [44]:
def fn(0,1,2, *, k=v, **k);

SyntaxError: invalid syntax (<ipython-input-44-823bad5913c5>, line 1)

In [45]:
def fn(a,b,c,d,e,f,g,h):
    print(a,b,c,d,e,f,g,h)

In [53]:
fn(*[3,4], 0,1,**{"f" : 11, "g" : 12, "h":15},e=10)

3 4 0 1 10 11 12 15

In [67]:
def f(val):
    try:
        f(val+1)
    except Exception as e:
        print(val)

In [68]:
f(0)

4959

In [64]:
import sys 
sys.getrecursionlimit()

5000

In [61]:
sys.setrecursionlimit(5000)

In [65]:
if i == 0 : return 0

SyntaxError: 'return' outside function (<ipython-input-65-b29fe70d854b>, line 1)