In [1]:
for i in {1,2,2,3}:
    if []:
        print(i, "is odd ")
    else:
        print(i, "is even")

1 is even
2 is even
3 is even

In [3]:
442342342423423434 % 5

4

In [7]:
# break 
num = [4,34,2,32,12,12,21]
# find a number which is greater than 5 only one 
for n in num:
    if n > 5:
        print(n)
        break
    print("hii")

hii
34

In [11]:
# continue 
l = [1,2,3,34,6,7]
for i in l:
    if i % 2:
        continue
    print(i, "is even")

2 is even
34 is even
6 is even

In [12]:
# *
# **
# ***
# ****

for i in range(5):
    if i % 2 == 0:
        continue
    for n in range(i):
        print('*', end='')
    if i > 0:
        print()

*
***

In [13]:
list(range(0, 11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
print('A', end=' ')
print('B')

A B

In [17]:
for i in range(5):
    print(i)
else:
    print("We did it")

0
1
2
3
4
We did it

In [18]:
for i in range(5):
    for j in range(i+1):
        print("*", end='')
    print()

*
**
***
****
*****

In [19]:

print("A", end="***")
print("B")

A***B

In [20]:
# 1234
# 2134
# 3124
# 4123

4123

In [28]:
s = ['1','2','3','4']
l = list(s)
for i in s:
    l.remove(i)
    print(f"{i}{''.join(l)}")
    l = list(s)

1234
2134
3124
4123

In [30]:
a= "R,a,h,u,l"
a.split(',')

['R', 'a', 'h', 'u', 'l']

In [32]:
l = ['R', 'a', 'h', 'u', 'l']
','.join(l)

'R,a,h,u,l'