In [2]:
l = [1,2,32,4]
t = (1,2,3)
print(l)
print(t)

[1, 2, 32, 4]
(1, 2, 3)

In [6]:
t1 = 1,2
t2, t3 = 1,2
print(t1)
print(t2)
print(t3)

(1, 2)
1
2

In [14]:
t = (1,2,3)
t[0] = 11
print(t)
len(t) == 0

TypeError: 'tuple' object does not support item assignment

In [15]:
l = [1,2,3,4]
t = tuple(l)
print(t)

(1, 2, 3, 4)

In [17]:
a = "Rahul"
print(list(a))
print(tuple(a))

['R', 'a', 'h', 'u', 'l']
('R', 'a', 'h', 'u', 'l')

In [22]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
l = [1,2,3,5]
l[0] = 10
print(l)
t1 + t2

[10, 2, 3, 5]

(1, 2, 3, 4, 5, 6, 7, 8)

In [26]:
l = (1,2,[1,2,3])
l[2][2] = 100
# l[2].append(100)
print(l)

(1, 2, [1, 2, 100])

In [28]:
l = (1)
print(type(l))

<class 'int'>

In [32]:
(1,2,3) < (1,)

False

In [35]:
l = [1,2,3,4]
t = tuple(l)
print(t[::-1])
print(l[::-1])

(4, 3, 2, 1)
[4, 3, 2, 1]

In [42]:
d = {
    "Rahul" : "Beniwal",
    "Krishna" : "Gopal",
    "Dheeraj" : "Kumar"
}
l = [("Rahul", "Beniwal"), ("Krishna", "Gopal")]
ddd = dict(l)
print(ddd)

{'Rahul': 'Beniwal', 'Krishna': 'Gopal'}

In [ ]:
del ddd['Rahul']
print(ddd)

In [43]:
del ddd["Rahul"]
print(ddd)

{'Krishna': 'Gopal'}

In [49]:
print(ddd.get("Krishna"))

Gopal

In [58]:
del ddd["Rahul"]
print(ddd)
ddd.setdefault("Rahul", "Beniwal")
ddd["Rahul"] = "Kumar"
print(ddd["Rahul"])

{'Krishna': 'Gopal', 'foo': None}
Kumar

In [67]:
l = [1,2,3,4]
for i in l:
    print(i)

d = {
    "a" : "A",
    "b" : "B",
    "c" : "C"
}

print(d.keys())
print(d.values())

for key in d.keys():
    print(key, d[key])
    print(key, d.get(key))

1
2
3
4
dict_keys(['a', 'b', 'c'])
dict_values(['A', 'B', 'C'])
a A
a A
b B
b B
c C
c C

In [70]:
l1 = [1,2,2,3]
l2 = [4,3,2,1]
l1 + l2 
l1.extend(l2)
print(l1)

[1, 2, 2, 3, 4, 3, 2, 1]

In [73]:
d1 = {
    'a' : 'b',
    'c' : 'd'
    }

d2 = {
    'c' : 'f'
}

d1.update(d2)  # it was mutation or not 
print(d1)

In [76]:
d3 = {**d1, **d2}
print(d3) 
print(d1)
print(d2)

{'a': 'b', 'c': 'f'}
{'a': 'b', 'c': 'd'}
{'c': 'f'}

In [79]:
l1 = [1,2,3]
l2 = [3,4,5]
[*l1, *l2]

[1, 2, 3, 3, 4, 5]

diff bw position_args, vs key_argument

In [83]:
l = [1,2,3]
b = l
b[0] = 10
print(l)
print(b)

l = [1, 2, 3]
b = list(l)
b[0] = 100
print(l)
print(b)

[10, 2, 3]
[10, 2, 3]
[1, 2, 3]
[100, 2, 3]

In [90]:
l = [1,2,3,4]
10 in l

False

In [91]:
l1 = [1,2,3]
l2 = [1,4,5]
c = l1 + l2
print(c)
ll = []

for i in c:
    if i in ll:
        pass 
    else:
        ll.append(i)
print(ll)
# list(set(l1 + l2))

[1, 2, 3, 1, 4, 5]
[1, 2, 3, 4, 5]

In [96]:
l = [1,2,2,2,1]
print(l)
set(l)

[1, 2, 2, 2, 1]

{1, 2}